id,hostname,username,ip,ssh_port,internal_ip,region,instance_type,cpu_arch,cpu_core,cpu_model,memory_num,memory_size,disk,os,k8s_role,k8s_controller,platform,user,status,labels,created,modified
1,host1,{{ TWDTHostUser }},{{ TWDTHost }},22,,,ICX,,,,,,,ubuntu,"controller,worker",{{ TWDTHost }},,admin,FREE,,,
